urxvt*depth: 32

#include ".local/share/xresources/main"

!urxvt*font:	xft:Monaco:pixelsize=15:antialias=true:hinting=true:bold
!urxvt*boldFont:	xft:Monaco:pixelsize=15:antialias=true:hinting=true:bold
urxvt*font:	xft:Inconsolata-dz:pixelsize=13:bold
urxvt*boldFont:	xft:Inconsolata-dz:pixelsize=13:bold

urxvt*boldItalicFont:	
urxvt*imFont:	
urxvt*italicFont:	
urxvt*letterSpace: 0

Xft.dpi:        96
URxvt*scrollBar:  false
URxvt*jumpScroll: true
URxvt*skipScroll: false
URxvt*visualBell: false

URxvt.perl-lib: /home/jason/.urxvt/perl
URxvt.perl-ext-common: default,matcher,clipboard,font-size
URxvt.url-launcher: /usr/bin/x-www-browser
URxvt.matcher.button: 1

URxvt*iso14755: False
URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard

URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste
URxvt.keysym.C-A-V: perl:clipboard:paste_escaped

Xcursor.theme: Simple-and-Soft


URxvt.keysym.Control-Up:   \033[1;5A
URxvt.keysym.Control-Down:    \033[1;5B
URxvt.keysym.Control-Left:    \033[1;5D
URxvt.keysym.Control-Right:    \033[1;5C

urxvt.keysym.C-equal:     perl:font-size:increase
urxvt.keysym.C-minus:     perl:font-size:decrease
